<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item>
                <i class="material-icons">list</i>
                List
            </a>
            <a routerLink="/category" mat-list-item>
                <i class="material-icons">category</i>
                Category
            </a>
        </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-container>
    <router-outlet></router-outlet>
</mat-sidenav-container>

</mat-sidenav-container>